* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .joke-btn {
    padding: 0.4rem;
    cursor: pointer;
    color: #fff;
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
  }
  .jokes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .loader {
    display: block;
    width: 200px;
    border-radius: 5px;
    background-color: #fff;
  }
}
