@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto";
}
.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .joke-btn {
    padding: 0.7rem;
    cursor: pointer;
    color: #fff;
    background-color: rebeccapurple;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
  .joke-btn:hover {
    background-color: #212629;
    color: #fff;
  }
  h2 {
    text-decoration: underline;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  h2::first-letter {
    color: hotpink;
  }
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: hotpink;
  }
  .jokes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .loader {
    display: none;
    width: 250px;
    border-radius: 5px;
    background-color: #fff;
  }
  @media screen and(max-width:700px) {
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
